<div class="container">
	<div class="ctn_login">
		<div class="ctn_login_form">
			<div class="ctn_connexion">
				<img src="/assets/images/logo_yassir.png" alt="YASSIR">
				<h2 class="titre_connexion">Connexion</h2>
				<span class="text_connexion">Se connecter à YASSIR pour Business</span>
			</div>
			<form name="myForm">
				<div class="login-container">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Email</label>
								<div class="inputWithIcon_login">
									<i>
										<mat-icon>
											<span class="material-icons-round">
												mail_outline
											</span>
										</mat-icon>
									</i>
									<input class="input_login" type="text" placeholder="Example@company.com"/>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Mot de passe</label>
								<div class="inputWithIcon_login">
									<i>
										<mat-icon>
											<span class="material-icons-round">
												lock_outline
											</span>
										</mat-icon>
									</i>
									<input class="input_login" type="password"/>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<button (click)="submit()" class="text-white bg-dark btn pull-right">Se connecter</button>
								<div class="clearfix"></div>
							</div>
							<div class="ctn_text_mot_passe_oublie">
								<a routerlink="/login" class="text_mot_passe_oublie">Mot de passe oublié?</a>
							</div>
							<div class="ctn_text_contactez_nous">
								<mat-icon class="icon_phone">
									<span class="material-icons-round">
										phone
									</span>
								</mat-icon>
								<span class="text_contactez_nous" href="#">Contactez-nous</span>
								<span class="text_num_phone">0782 82 82 82</span>
							</div>
						</div>
					</div>
					<!--<div class="row">
																																																																																																																																							            <div class="col-md-12">
																																																																																																																																							              <div ng-show="showError" class="alert alert-danger">Wrong credentials!</div>
																																																																																																																																							              <div ng-show="showSuccess" class="alert alert-success">Login Successful!</div>
																																																																																																																																							            </div>
																																																																																																																																							          </div>-->
				</div>
			</form>
		</div>
	</div>
</div>
