<div class="ctn_main">
	<app-nav></app-nav>
	<div class="container">
		<div class="row">
			<div class="ctn_toggle_btn col-lg-12">
				<div class="toggle_btn">
					<toggle-button></toggle-button>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="ctn_menu col-lg-4">
						<menu style="margin-left: -20px"></menu>
					</div>
					<div class="col-lg-8">
						<div class="ctn_corps row">
							<div class="col-lg-12">
								<h5 class="style_text_corps">Courses actives</h5>
								<div class="ctn_select_trier">
									<span class="style_text_trier">
										Trier par :
									</span>
									<select class="select_trier form-control">
										<option value="">Jour</option>
										<option value="">Mois</option>
										<option value="">Année</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group has-search">
									<span class="fa fa-search form-control-feedback"></span>
									<input type="text" class="form-control" placeholder="Rechercher par nom ou numéro de téléphone">
								</div>
							</div>
							<div class="ctn_style_img_fig1 col-lg-12">
								<div class="ctn_img_fig1"><img class="style_img_fig1" src="/assets/images/fig_1.png" alt="Fôret"/></div>
							</div>
							<div class="ctn_style_img_fig1 col-lg-12">
								<div class="ctn_img_fig1"><img class="style_img_fig2" src="/assets/images/fig_2.png" alt="Fôret"/></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
