<nav class="style_navbar navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<div>
			<div class="ctn_logo_yassir">
				<img src="/assets/images/logo_yassir.png" alt="image"/>
			</div>
			<div class="ctn_barre_sep">
				<span class="barre_sep">|</span>
			</div>
			<div class="navbar-brand">
				<span class="titre_main1">
					Sheraton hotel
				</span><br/>
				<div class="ctn_icon_titre_main2">
					<mat-icon class="icon_place">
						<span class="material-icons-round">
							place_outline
						</span>
					</mat-icon>
					<span class="titre_main2">
						Club des pins - Alger
					</span>
				</div>
			</div>
		</div>
		<button class="navbar-toggler pull-xs-right hidden-md-up" [routerLink]="['/login']" type="button" data-toggle="collapse" data-target="#navbar-collapse">&#9776;</button>
	</div>
</nav>
